
table, th, td {
  border: 1px solid black;
}

h1 {
  color: black;
  border: 2px solid blue;
  font-size: 175%;
  font-family: courier;
  background-color: hsl(120,60%,70%);
}
h2 {
  color: black;
  font-size: 135%;
}
h3 {
  color: black;
  border: 2px solid powderblue;
  font-size: 100%;
}

div.header {
  color: black;
  border: 1px solid black;
  font-size: 200%;
  background-color: hsl(120,100%,75%);
  font-family: courier;
}
div.specialmsg {
  color: red;
  border: 2px solid powderblue;
  font-size: 160%;
}
div.roomstati {
  border: 2px solid powderblue;
  font-size: 140%;
}
.button {
  color: black;
  background-color: hsl(120,100%,75%);
  font-size: 120%;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
}
.litegreen {
  color: black;
  background-color: hsl(120, 100%, 90%);
  font-size: 100%;
}
input[type=submit] {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}
.pinoylink {
-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
